<preloader *ngIf="!weatherIsLoaded && !errorMsg" message="Fetching Weather Data. Please wait..."></preloader>
<div *ngIf="weatherIsLoaded">
    <weather-refresh-date [actualWeatherDate]="actualWeatherDate"></weather-refresh-date>
    <div class="weather__items">
        <weather-item
            #favItem
            *ngFor="let itemData of weatherItems"
            [itemData]="itemData"
            (click)="toggleFavorite(favItem)"
            [ngClass]="{favorite: favoriteItem === favItem}"
            [itemTemp]="itemData.main.temp | kelvinToCelcius"
            color-temp
            class="weather-item">
        </weather-item>
    </div>
</div>
<div *ngIf="errorMsg && !weatherIsLoaded" class="error">{{errorMsg}}</div>