<preloader *ngIf="!weatherIsLoaded && !errorMsg" message="Fetching Weather Data. Please wait..."></preloader>
<div *ngIf="weatherIsLoaded">
    <weather-refresh-date [actualWeatherDate]="actualWeatherDate"></weather-refresh-date>
    <div class="weather__items">
        <weather-item *ngFor="let itemData of weatherItems" [itemData]="itemData" #favItem (click)="toggleFavorite(favItem)" [ngClass]="{favorite: favoriteItem === favItem}" class="weather-item"></weather-item>
    </div>
</div>
<div *ngIf="errorMsg && !weatherIsLoaded" class="error">{{errorMsg}}</div>