@import "../../node_modules/normalize-css/normalize.css";

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

main {
    flex-grow: 1;
}

.error {
    color: #f22;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

.hidden-item {
    display: none !important;
}