#weather {
    display: flex;
    flex-wrap: wrap;
}

#weather.error {
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

:host /deep/ .weather-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 100px;
    margin: 0.5rem;
    padding: 0.25rem;
    background: #87e0fd; /* Fallback */
    background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}

:host /deep/ .weather-item__name {
    display: block;
    text-align: center;
}