form {
    display: flex;
}

label > span {
    cursor: pointer;
}

button {
    align-self: flex-end;
}

.temp-settings {
    margin-right: 0.25rem;
}
.temp-grade {
    text-transform: capitalize;
}

.temp-input {
    position: relative;
    top: -1px;
}